@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode */
.body-light {
  background-image: url("./Assets/background-image-light.jpg");
}

/* Dark Mode */
.body-dark {
  background-image: url("./Assets/background-image.jpg");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Example: Fade In Animation */
.fade-in {
  opacity: 0;
  animation: fadeIn ease-in-out 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
